* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-image:url(../images/Donut-Pattern.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
li {
    display: inline;
}
.hero {
    background-color: darkcyan;
    color: whitesmoke;
    padding-top: 0px;
    padding-bottom: 0px;
}

span {
    font-size: 100px;
    padding: 10px;
}
.btn {
    background: none;
    outline: none;
    border: 1px solid black;
    padding: 1px;
    border-radius: 10px;
    margin: 5px;
}
span{
    font-size: 100px;
    padding: 10px;
    color: darkblue;
}

}
 
.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.image {
    width: 300px;
    height: 200px;
    
}