*{
    font-family: Arial, Helvetica, sans-serif;

}
body {
    padding: 2em;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

background_image:donut_background.png